
:root{
    --mainText:black;
    --mainColor:#eaeaea;
    --secondaryText:#4b5156;
    --secondaryColor:#fff;
    --borderColor:#c1c1c1;
    --themeDotBorder:#24292e;
    --previewBg:rgb(251, 249, 243, 0.8);
    --previewShadow:#f0ead6;
    --buttonColor:#f0ead6;
    --progressBar:#151515;
    --barBg:#FFF;
    --iconColor:#eaeaea;
}